In [1]:
import pandas as pd

In [2]:
devd = pd.read_csv('C:/Users/Garima/OneDrive/NLP/SemEval2020-Task4-Commonsense-Validation-and-Explanation-master/ALL data/Dev Data/subtaskB_dev_data.csv', index_col = 0)
traind = pd.read_csv('C:/Users/Garima/OneDrive/NLP/SemEval2020-Task4-Commonsense-Validation-and-Explanation-master/ALL data/Training  Data/subtaskB_data_all.csv', index_col = 0)
triald = pd.read_csv('C:/Users/Garima/OneDrive/NLP/SemEval2020-Task4-Commonsense-Validation-and-Explanation-master/ALL data/Trial Data/taskB_trial_data.csv', index_col = 0)

test = pd.read_csv('C:/Users/Garima/OneDrive/NLP/SemEval2020-Task4-Commonsense-Validation-and-Explanation-master/ALL data/Test Data/subtaskB_test_data.csv')

In [3]:
deva = pd.read_csv('C:/Users/Garima/OneDrive/NLP/SemEval2020-Task4-Commonsense-Validation-and-Explanation-master/ALL data/Dev Data/subtaskB_gold_answers.csv', index_col = 0)
traina = pd.read_csv('C:/Users/Garima/OneDrive/NLP/SemEval2020-Task4-Commonsense-Validation-and-Explanation-master/ALL data/Training  Data/subtaskB_answers_all.csv', index_col = 0)
triala = pd.read_csv('C:/Users/Garima/OneDrive/NLP/SemEval2020-Task4-Commonsense-Validation-and-Explanation-master/ALL data/Trial Data/taskB_trial_answer.csv', index_col = 0)

In [4]:
traind

,FalseSent,OptionA,OptionB,OptionC
id,,,,
0,He poured orange juice on his cereal.,Orange juice is usually bright orange.,Orange juice doesn't taste good on cereal.,Orange juice is sticky if you spill it on the ...
1,He drinks apple.,Apple juice are very tasty and milk too,Apple can not be drunk,Apple cannot eat a human
2,"Jeff ran 100,000 miles today","100,000 miles is way to long for one person to...","Jeff is a four letter name and 100,000 has six...","100,000 miles is longer than 100,000 km."
3,I sting a mosquito,A human is a mammal,A human is omnivorous,A human has not stings
4,A giraffe is a person.,Giraffes can drink water from a lake.,A giraffe is not a human being.,.Giraffes usually eat leaves.
...,...,...,...,...
9995,Mark ate a big bitter cherry pie,Mark is bad at making cherry pie,a cherry pie should be big,a cherry pie should be sweet
9996,Gloria wears a cat on her head,a hat cannot be worn on a cat's head,a cat cannot be worn on a person's head,the cat is too heavy to be worn on her head
9997,Harry went to the barbershop to have his glass...,a barbershop usually don't provide the service...,a barbershop usually repairs computers instead...,the barbershop lacked the necessary tools to r...
9998,Reilly is sleeping on the window,the window is open and a person cannot lay on it,the window is too cold to sleep on it,a person cannot sleep on a window
9999,I have a desk on my lamp,the lamp is made of glass that is fragile,the lamp is of poor quality,a desk is too big to be put on a lamp

In [5]:
devd

,FalseSent,OptionA,OptionB,OptionC
id,,,,
1363,"Summer in North America is great for skiing, ...",Snowmen can become violent due to their isolat...,You would not want to eat a violent snowman.,The temperature in North America during the su...
392,You can use detergent to dye your hair.,Detergent and bleach are both cleaning products.,Detergent and bleach cannot be used together.,Detergent isn't a hair product.
540,passing your driving license exams requires st...,the driving license is useless for studying fo...,driving license exams needs to study for driving,You cannot drive into classes even if you have...
3,The hangers bought the closet,A hanger is something you put your clothes on,Hangers are inanimate things which cannot buy ...,The hangers cannot eat
560,coffee depresses people,coffee inspires people,coffee with milk is rich,coffee with cake encourages
...,...,...,...,...
700,THE TEMPERATURE IS EMOTIONAL,THE CLOUD OPENED UP ITS MOUTH AND SAID AHH,WHEN THE WEATHER OUTSIDE IS FRIGHTFUL YOU SHOU...,TEMPERATURES DO NOT HAVE EMOTIONS
355,Blended up fruit makes a nacho,"Nachos are triangles, fruits are circle",Nachos are not made up of fruit,A nacho is crispy and blended fruit is mushy
1550,Dogs falls from the sky,Dogs aren't usually wet.,Dogs aren't in the sky,The dog can't flying in the sky
1364,He put a dinosaur in the fridge,"Dinosaurs are usually big, while refrigerator...",A dinosaur has extincted,Dinosaur can not eat a refrigerator.
1257,The cleaner is in charge of the money at the s...,"To run a store, both cleaners and cashiers ar...",The cleaner is in charge of keeping the store ...,The security guard is in charge of security at...

In [6]:
triald

,FalseSent,OptionA,OptionB,OptionC
id,,,,
1,he put an elephant into the fridge,an elephant is much bigger than a fridge,elephants are usually gray while fridges are u...,an elephant cannot eat a fridge
2,my sister eats a stone after breakfast every day,stone is usually in round-shapes,no one eats stones,stone is too large for a girl's mouth
3,money can be used for buying stars,no one can get stars and sell them now,stars can be only seen in cloudless dark night,stars are too expensive for normal people
4,USA is located in the northeastern part of New...,New York is not the capital of USA,USA is a nation while New York is its ally,USA is a nation while New York is its city
5,a man can better see stars and the moon in day...,the sun is much brighter than the moon and sta...,the moon is much closer to the earth than the sun,the sun moves faster than the moon and stars
...,...,...,...,...
2017,she cleans her teeth with shampoo,shampoo can keep her clean,shampoo is used to wash hair,some shampoo has a fruity smell
2018,you can see a dinosaur in the zoo,a dinosaur is too expensive and dangerous for ...,a dinosaur is not an existing creature anymore,people don't quite like dinosaurs
2019,people have to hold onto their shoes because o...,people cannot walk comfortably without shoes,shoes are almost impossible to be blown away,people can always find substitutions for shoes
2020,Rebecca wakes up because she takes sleeping pills,taking sleeping pills makes people sleep soundly,sleeping pills have an opposite effect on Rebecca,Rebecca takes too many sleeping pills
2021,people bleed when they feel hot,blood is very important to keep human beings a...,heat escapes when people are bleeding,people only bleed when they are wounded

In [7]:
test

,id,FalseSent,OptionA,OptionB,OptionC
0,1175,He loves to stroll at the park with his bed,A bed is too heavy to carry with when strollin...,walking at a park is good for health,Some beds are big while some are smaller
1,452,The inverter was able to power the continent.,An inverter is smaller than a car,An inverter is incapable of powering an entire...,An inverter is rechargeable.
2,275,The chef put extra lemons on the pizza.,Many types of lemons are to sour to eat.,Lemons and pizzas are both usually round.,Lemons are not a pizza topping.
3,869,sugar is used to make coffee sour,sugar is white while coffee is brown,sugar can dissolve in the coffee,sugar usually is used as a sweetener
4,50,There are beautiful planes here and there in t...,A plane flies upon the garden,You can have a small garden in your private plane,A plane can never be seen in garden
...,...,...,...,...,...
995,1114,"If it is a sunny day, you would got wet.",Usually a sunny day don't cause to wet.,People prefer to walk during sunny day.,People feel mess if they are wet.
996,8,ice hockey is a financial institution,Children's playing ice hockey requires financi...,Playing ice hockey well can bring you money,There are no relationships between ice hockey ...
997,1945,He put water without a container in the freeze...,Water and containers are two different element...,water cannot be in the freezer without a conta...,Water more deep in a container cannot always b...
998,1053,The desert has sand that you can drink.,Water is not the same color as the sand.,Sand is solid and inedible.,The desert has lots of sand.
999,1123,My friend runs for 2 inches every day.,My friend likes running.,2 inches and indicate a distance.,2 inches is too short a distance to be ran.

In [8]:
deva

     ans
id
1363   C
392    C
540    B
3      B
560    A
...   ..
700    C
355    B
1550   B
1364   B
1257   B

[997 rows x 1 columns]

In [9]:
traina

     ans
id
0      B
1      B
2      A
3      C
4      B
...   ..
9995   C
9996   B
9997   A
9998   C
9999   C

[10000 rows x 1 columns]

In [10]:
triala

     ans
id
1      A
2      B
3      A
4      C
5      A
...   ..
2017   B
2018   B
2019   B
2020   A
2021   C

[2021 rows x 1 columns]

In [11]:
train = pd.merge(traind, traina, on='id', how='inner')
trial = pd.merge(triald, triala, on='id', how='inner')
dev = pd.merge(devd, deva, on='id', how = 'inner')

train['id'] = train.index
dev['id'] = dev.index
trial['id'] = trial.index

In [12]:
def func(df):  
    
    col_names=['text', 'klass']
    
    temp = pd.DataFrame()
    temp = pd.DataFrame(columns=col_names)

    for index,row in df.iterrows():
        arow={'klass':row['ans'],'text':str(row['FalseSent']+'<eol>.'+str(row['OptionA']))}
        temp = temp.append(arow, ignore_index=True)
        brow={'klass':row['ans'],'text':str(row['FalseSent']+'<eol>.'+str(row['OptionB']))}
        temp = temp.append(brow, ignore_index=True)
        crow={'klass':row['ans'],'text':str(row['FalseSent']+'<eol>.'+str(row['OptionC']))}
        temp = temp.append(crow, ignore_index=True)
        
    c='C'
    
    for index,row in temp.iterrows():
        if(c=='C'):
            c='A'
        elif(c=='A'):
            c='B'
        elif(c=='B'):
            c='C'
        if(row['klass']==c):
            temp.at[index,'klass']=1
        else:
            temp.at[index,'klass']=0
            
    return temp

In [13]:
train = func(train)
dev = func(dev)
trial = func(trial)

In [15]:
test = pd.read_csv('C:/Users/Garima/OneDrive/NLP/SemEval2020-Task4-Commonsense-Validation-and-Explanation-master/ALL data/Test Data/subtaskB_test_data.csv')


col_names=['text']
temp=pd.DataFrame(columns=col_names)

for index,row in test.iterrows():
    arow={'text':str(row['FalseSent'])+'<eol>.'+str(row['OptionA'])}
    temp = temp.append(arow, ignore_index=True)
    brow={'text':str(row['FalseSent'])+'<eol>.'+str(row['OptionB'])}
    temp = temp.append(brow, ignore_index=True)
    crow={'text':str(row['FalseSent'])+'<eol>.'+str(row['OptionC'])}
    temp = temp.append(crow, ignore_index=True)
    
test = temp
test.to_json('test.json', orient = 'records')

In [16]:
temp = pd.concat([train, dev, trial])

temp.to_json('train.json', orient = 'records')

In [17]:
import json

def confunc(l):
    for i in l:    
        with open(i, "r") as read_file:
            data = json.load(read_file)
        result = [json.dumps(record) for record in data]
        with open(i, 'w') as obj:
            for i in result:
                obj.write(i+'\n')

In [18]:
temp = pd.concat([train, dev])
temp.to_json('train.json', orient = 'records')
del trial['klass']
trial.to_json('test.json', orient = 'records')
confunc(['train.json', 'test.json'])